@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  background-color: #000;
}

input.form-control {
  height: 3rem;
}

.hidden {
  display: none;
}

h1.display-6.fw-bold.text-center {
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: orange;
}

button.btn.btn-lg.btn-primary.w-100.calculate {
  background-color: rgb(0, 0, 255, 0.5);
  border-color: rgb(255, 165, 0, 0.5);
  color: orange;
  border-width: 4px;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  margin-top: -1rem;
}

button.btn.btn-lg.btn-danger.w-100.mt-4.reset {
  background-color: rgb(255, 165, 0, 0.5);
  border-color: rgb(0, 0, 255, 0.5);
  border-width: 4px;
  color: blue;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

label {
  color: orange;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 2px;
}

input#value1,
input#value2,
input#value3 {
  background-color: rgb(53, 47, 47);
  border-color: rgb(53, 47, 47);
  color: orange;
}

h5.text-center.fixed-bottom {
  color: orange;
}

div#d {
  color: orange;
  font-size: 3rem;
  font-family: "VT323", monospace;
  background-color: rgb(0, 0, 255, 0.5);
}

.main-compounding {
  min-height: 100vh;
  background: url(assets/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575.98px) {
  .main-compounding {
    background: url(assets/Jupiter-Planet-Top-Free-Jupiter-Planet-Backgrounds-iphone-14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

input {
  border-radius: 0 !important;
}

button.btn.btn-lg.btn-primary.w-100.calculate {
  border-radius: 0;
}

button.btn.btn-lg.btn-danger.w-100.mt-4.reset {
  border-radius: 0;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

p.text-center {
  font-family: "Satisfy", cursive;
  color: orange;
  font-size: 1.2rem;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5px;
}

#year {
  font-size: 1rem;
}

#copyright {
  font-size: 1rem;
}
